. {
   margin: 0;
   text-decoration: 0;
   padding: 0;
   
}
body {
   background-color: rgb(26, 26, 26);
}

.ToDo {
   display: flex;
   align-items: center;
  flex-direction: column;
   margin-top: 10%;
   padding: 10%;
}
   
div .todoTitle {
   direction: flex;
   flex-direction: column;
   align-items: center;
   margin: 1%;
   color: white;
}


.newItem {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: purple;
   margin-top: 10px;
   padding: 5px;
   width: 40%;
   height: 40px;
   border-radius: 4px;
}
   
.newItem > input{
   background-color: purple;
   border:none;
   width: 90%;
   outline: none;
   padding: 8px;
}

.newItem > input::placeholder {
   color: rgb(255, 255, 255);
   padding: 10px;
   
}

label {
   display: flex;
   justify-content: space-between;
   height: 25px;
   width: 100%;
   padding: 5px;
   gap: 10px;
}

.itemToDo {
   display: flex;
   width: 100%;
   align-items: center;
   padding-left: 180px 0 ;
   flex-direction: row;
   margin: 10px;
   color: white;
   border: 0.5px solid rgb(255, 255, 255);
   border-color: purple;
   border-radius: 4px;
}
   
    
.itemToDo > input[type="checkbox"] {
   width: 20px;
   height: 20px;
   
}

.itemToDo:hover {
   cursor: pointer;
   transition:  .3s ease ;
   background-color: rgba(216, 21, 226, 0.575);
   color: black;
}

.checkmark {
   position: absolute;
   width: 20px;
   height: 20px;
   border-radius: 2px;
   margin-left: 4px;
   
}
 

.itemToDo input:checked ~ .checkmark{
   background-color: blueviolet;
}
   
#todoList {
   width: 40%;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 1px;
   
}
   
   

   


